{% extends 'base.html' %}

{% block title %}{{site_name}}{% endblock title %}

{% if type == "Brand" or type == "Model Number" %}
    {% block searchBox %}
        {% include 'search.html' %}
    {% endblock searchBox %}
{% endif %}

{% block content %}
<div class="album py-5 bg-light min-height">
    <div class="container">
        <h2>Select a {{type}} </h2>
        <div class="row">
            {% for i in data %}
            <div class="col-md-3 image">
                <div class="">
                    <div class="card mb-3 shadow-sm">
                        {% if type == "Brand" %}
                        <img src="{{i.brandIcon.url}}" class="bd-placeholder-img card-img-top img-padding" alt="Logo">
                        <div class="card-body">
                            <p class="card-text">{{i.name}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/modelnumber/{{i.pk}}" type="button"
                                        class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if type == "Model Number" %}
                        <img src="{{i.modelImage.url}}" class="bd-placeholder-img card-img-top img-padding" alt="Logo">
                        <div class="card-body">
                            <p class="card-text">{{i.name}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/varient/{{i.pk}}" type="button"
                                        class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if type == "Varient" %}
                        <img src="{{image.url}}" class="bd-placeholder-img card-img-top img-padding" alt="Logo">
                        <div class="card-body">
                            <p class="card-text">{{nametext}} <br>
                                <strong> RAM : </strong> {{i.ram}} <br>
                                <strong> Stroage : </strong> {{i.storage}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/phone-conditon/{{i.pk}}" type="button"
                                        class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}