{% extends 'base.html' %} 
{% load static from staticfiles %} 

{% block title %}{{site_name}}{% endblock title %}
{% block coverImage %} {% endblock coverImage %}

{% block content %}
<div class="newproducts-w3agile">
    <div class="container">
        <h3>Select Your {{type}}</h3>
        <div class="agile_top_brands_grids">
            {% for varient in data %}
            <div class="col-md-4 top_brand_left-1" style="margin: 10px 0px 10px 0px;">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="/phone-conditon/{{varient.pk}}">
                                            <img class="varient-image" title=" " alt=" " 
                                            src="{{image.url}}">
                                        </a>
                                        <p>{{nametext}} {{varient.ram}} {{varient.storage}}</p>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <!-- <input type="button" name="submit" value="View" class="button"> -->
                                        <a href="/phone-conditon/{{varient.pk}}" class="btn button btn-primary"> View</a>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
{% endblock content %}