{% extends 'admin/base.html' %}
{% load staticfiles %}
{% block extrahead %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'icon/favicon-32x32.png' %} ">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'icon/favicon-16x16.png' %} ">
<link rel="manifest" href="{% static 'icon/site.webmanifest' %} ">
{% endblock %}

{% block welcome-msg %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<a href="#" onClick="importExcel(event)" class="btn btn-high btn-success">
    Import
</a> /
<a href="/download-data" class="btn btn-high btn-success">
    Export
</a> /
<form id="id_ajax_upload_form" method="post" enctype="multipart/form-data" hidden>
    {% csrf_token %}
    <input id="upload" type="file" name="excelFile" hidden>
    <input id="formSubmit" type="submit">
</form>
<script src="{% static 'js/script.js' %}"></script>

<div id="loader" class="loader hide-block">
    <img src="{% static 'images/loader.gif' %}" alt="" srcset="">
</div>

{% endblock %}
{% block content%}
{% endblock %}